*{
    box-sizing: border-box;

}

:root{
    --symbol-size:90px;
}

body{
    font-family:'Anek Telugu';
    margin: 0px;
    padding: 0px;
    background-color: #fffbeb;
}

#gameBoard{
    display: grid;
    /* justify-content: center;
    align-content: center; */
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    

}


.gamecell{
    /* background: #ffffff; */
    border: solid blue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: cursive;
    color: black;
    
}

.gamecell:hover{
    cursor: pointer;
    background-color: burlywood;
}

.gamecell:first-child,.gamecell:nth-child(2),.gamecell:nth-child(3){
    border-top: none;
}

.gamecell:nth-child(3n + 1){
    border-left: none;
}

.gamecell:nth-child(3n + 3){
    border-right: none;
}

.gamecell:last-child,.gamecell:nth-child(7),.gamecell:nth-child(8){
    border-bottom: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
